{% extends 'base.html' %} {% block content %}
<!-- creation of different tabs for admin dashboards -->
<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s3 disabled"><a href="#test1">Tasks:</a></li>
			<li class="tab col s3"><a class="active" href="#test2">Edit</a></li>
			<li class="tab col s3"><a href="#test3">Requests</a></li>
			<li class="tab col s3"><a href="#test4" id="adduser">Add User</a></li>
		</ul>
	</div>
    <!-- tab 1 is used as a heading for other tabs -->
	<div id="test1" class="col s12">Test 1</div>
    <!-- tab 2 shows all the users registered and options to top up their accounts, delete the users or edit the users -->
	<div id="test2" class="col s12">
		<center>
            <!-- The following logic filters the flash messages and show the relevant one or the heading -->
			{% with messages = get_flashed_messages() %}
			    {% if messages %}
			        {% for message in messages %}
			            {% if message == 'Topup in Queue.' %}
                            <div class="section"></div>
                            <h5 class="card-panel green lighten-1 white-text">{{ message }}</h5>
                        {% elif message == 'Another topup in Queue already.' %}
                            <div class="section"></div>
                            <h5 class="card-panel red lighten-1 white-text">{{ message }}</h5>
                        {% elif message == 'User Delete Successfuly.' %}
                            <div class="section"></div>
                            <h5 class="card-panel green lighten-1 white-text">{{ message }}</h5>
                        {% elif message == 'User Details Updated.' %}
                            <div class="section"></div>
                            <h5 class="card-panel green lighten-1 white-text">{{ message }}</h5>
                        {% elif message == 'Pending topup cleared.' %}
                            <div class="section"></div>
                            <h5 class="card-panel green lighten-1 white-text">{{ message }}</h5>
                        {% else %}
                            <h5 class="indigo-text">Add Topup or Edit User</h5>
                            <div class="section"></div>
                        {% endif %}
			            {% endfor %}
			    {% else %}
                    <h5 class="indigo-text">Add Topup or Edit User</h5>
                    <div class="section"></div>
                {% endif %}
			{% endwith %}
            <!-- this form is created to clear any unprocessed topups which are not required -->
			<form action="/admin/clear/topup" method="post">
				<button class="btn waves-effect waves-light col s12" type="submit" onclick="return confirm('Clear Pending topup requests?');">
            <i class="small material-icons left">phonelink_erase</i> Clear Topup <i class="small material-icons right">phonelink_erase</i>
        </button>
			</form>

            <div class="section"></div>

		</center>
        <!-- The following table is generated with rows which are dependant on the number of users need to be shown in the dashboards which
        also depends on the role of the admin check credits-->
		 <table role="table" class="striped">
			<thead role="rowgroup">
                <!-- defining the headings -->
				<tr role="row">
					<th role="columnheader">Name</th>
					<th role="columnheader">Topup Amount</th>
					<th role="columnheader">Confirm Topup</th>
					<th role="columnheader">Delete User</th>
					<th role="columnheader">Edit User</th>
				</tr>
			</thead>
            <!-- creating the rows and fields with fetched data from DB -->
			<tbody role="rowgroup">
				{% for user in residents %}
				<form action="/topup" method="POST">
					<tr role="row">
						<td role="cell">
							{{ user.username|upper }}
						</td>
						<td role="cell">
							<input type="hidden" value="{{ user.username }}" name="usertopup">
							<input type="number" min="1" max="9" name="topup" value="3">
                    </td>
						<td role="cell">
							<button class="btn waves-effect waves-light user-button" type="submit" name="submittopup" id="submittopup">TOPUP
                            <i class="material-icons right">send</i>
                        </button>
				</form>
				</td>
				<td role="cell">
                    <!-- form to delete the user -->
					<form action="/deleteuser" method="post">
						<input type="hidden" value="{{ user.username }}" name="userdelete">
						<button class="btn waves-effect red darken-2 user-button" type="submit" value="Delete" name="deleteuser" id="deleteuser" onclick="return confirm('Do you really want to Delete the user permanently?');">Delete
                                <i class="small material-icons right">delete_forever</i>
                            </button>
					</form>
				</td>
				<td role="cell">
                    <!-- form to edit the user, the button is captured by javascript -->
					<form action="/edituser" method="post">
						<input type="hidden" value="{{ user.username }}" name="useredit">
						<button class="btn waves-effect blue darken-2 editsubmit user-button" type="submit"  name="edituser" id="edituser" onclick="editUser();">EDIT
                                <i class="material-icons right">edit</i>
                            </button>
					</form>
				</td>


				</tr>

				{% endfor %}
			</tbody>
		</table>

	</div>


    <!-- tab 3 is used to show active topup requests from the users -->
	<div id="test3" class="col s12">
        <!-- The following logic filters the flash messages and show the relevant one or the heading -->
		{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if message == 'Topup in Queue..' %}
                        <div class="section"></div>
                        <h5 class="card-panel green lighten-1 white-text">{{ message }}</h5>
                    {% elif message == 'Another topup in Queue already..' %}
                        <div class="section"></div>
                        <h5 class="card-panel red lighten-1 white-text">{{ message }}</h5>
                    {% elif message == 'Request Deleted.' %}
                        <div class="section"></div>
                        <h5 class="card-panel green lighten-1 white-text">{{ message }}</h5>
                    {% else %}
                        <h5 class="indigo-text">Active requests:</h5>
                        <div class="section"></div>
                    {% endif %}
		            {% endfor %}
		        {% else %}
                    <h5 class="indigo-text">Active requests:</h5>
                    <div class="section"></div>
                {% endif %}
		{% endwith %}
        <!-- Materialize collection are used to lay out the requests -->
		<ul class="collection">
			{% for req in requests %}

			<li class="collection-item avatar">
				<img src="/static/images/topup.jpg" alt="" class="circle">
				<span class="title"><strong>{{ req.user|upper }}</strong></span>
				<p> Amount: <b>{{ req.amount }}</b> <br>
                    Date: <b>{{ req.date }}</b> <br>
                </p>
                    <!-- Two layouts to suite small screens and medium to large -->
                    <!-- Two buttons to delete or approve the requets for small screens -->
                    <div class="hide-on-med-and-up">
                        <div>
                            <form action="/resident/delete" method="post">
                                <input type="hidden" value="{{ req.user }}" name="requestDelete">
                                <input type="hidden" value="admin" name="admin">
                                <button class="btn waves-effect red darken-2 request-button button-width" type="submit" name="deleterequest" id="deleterequest" onclick="return confirm('Do you really want to Delete the request?');">Delete
                                <i class="small material-icons right">delete_forever</i>
                            </button>
                            </form>
                        </div>
                        <div>
                            <form action="/topup" method="post">
                                <input type="hidden" value="{{ req.user }}" name="usertopup">
                                <input type="hidden" value="{{ req.amount }}" name="topup">
                                <input type="hidden" value="requestTopup" name="requestTopup">
                                <button class="btn waves-effect waves-light button-width" type="submit">TOPUP
                                <i class="material-icons right">send</i>
                            </button>
                            </form>
                        </div>
					</div>
                    <!-- on medium or large screens show these buttons as secondary content and not show on small screens -->
					<div class="secondary-content hide-on-small-only">
						<form class="right" action="/resident/delete" method="post">
							<input type="hidden" value="{{ req.user }}" name="requestDelete">
							<input type="hidden" value="admin" name="admin">
							<button class="btn waves-effect red darken-2" type="submit" name="deleterequest" id="deleterequest" onclick="return confirm('Do you really want to Delete the request?');">Delete
                            <i class="small material-icons right">delete_forever</i>
                        </button>
						</form>
						<form action="/topup" class="right" method="post">
							<input type="hidden" value="{{ req.user }}" name="usertopup">
							<input type="hidden" value="{{ req.amount }}" name="topup">
							<input type="hidden" value="requestTopup" name="requestTopup">
							<button class="btn waves-effect waves-light" type="submit">TOPUP
                            <i class="material-icons right">send</i>
                        </button>
						</form>
					</div>
			</li>
			{% endfor %}
		</ul>

	</div>


    <!-- tab 4 is to show the form to add/edit the users -->
	<div id="test4" class="col s12">

		<center>
        <!-- The following logic filters the flash messages and show the relevant one or the heading -->
			{% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message == 'User Created Successfully.' %}
                            <div class="section"></div>
                            <h5 class="card-panel green lighten-1 white-text">{{ message }}</h5>
                        {% elif message == 'User Already Exists.' %}
                            <div class="section"></div>
                            <h5 class="card-panel red lighten-1 white-text">{{ message }}</h5>
                        {% else %}
                            <h5 class="indigo-text">Enter details for User</h5>
                            <div class="section"></div>
                        {% endif %}
			            {% endfor %}
                {% else %}
                    <h5 class="indigo-text">Enter details for User</h5>
                    <div class="section"></div>
                {% endif %}
			{% endwith %}
            <!-- container to hold all the elements of the form  -->
			<div class="container">
				<div class="z-depth-1 grey lighten-4 row"
					style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

					<form id="registerForm" action="/register" class="col s12" method="post">
						<div class='row'>
							<div class='col s12'>
							</div>
						</div>
                        <!-- username input field with its label -->
						<div class='row'>
							<div class='input-field col s12'>
								<input class='validate' type='text' name='username' id='email' />
								<label id="userLabel" for='email'>Enter your username</label>
							</div>
						</div>
                        <!-- password field with its label -->
						<div class='row'>
							<div class='input-field col s12'>
								<input class='validate' type='password' name='password' id='password' />
								<label for='password'>Enter your password</label>
							</div>
                            <!-- this is used to select the role of user (admin or resident) -->
							<div class="switch">
								<label>
                                Resident
                                <input type="checkbox" name="adminorresident">
                                <span class="lever"></span>
                                Admin
                                </label>
							</div>
						</div>

						<br />
						<center>
							<div class='row'>
								<button type='submit' id="registerSubmit" name='btn_login' class='col s12 btn btn-large waves-effect green'>Register</button>
							</div>
						</center>
					</form>
				</div>
			</div>
		</center>

	</div>
</div>

{% endblock %}